<div class="jumbotron">
    <h1>PhotoKingdomAPI</h1>
    <p class="lead">PhotoKingdomAPI is web API project for PhotoKingdom Android app.</p>
    <p><a href="https://zenit.senecac.on.ca/~prj666_181a06/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Android project</h2>
        <p>https://github.com/sofimofi/photokingdom</p>
        <p><a class="btn btn-default" href="https://github.com/sofimofi/photokingdom">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WebAPI project</h2>
        <p>https://github.com/sofimofi/photokingdom-webapi</p>
        <p><a class="btn btn-default" href="https://github.com/sofimofi/photokingdom-webapi">Go &raquo;</a></p>
    </div>
</div>
